# Ignore bundler config.
/.bundle

# Ignore all environment files.
/.env*

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore storage files.
/storage/*
!/storage/.keep

/public/assets

# Ignore master key for decrypting credentials and more.
/config/master.key

/config/credentials/*.key

# Ignore node_modules
/node_modules

/vendor/bundle

# Test artifacts
/test-results/
/e2e/
